      .external-link-gif{
        background:
        url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9gCGhErDWL4mOoAAAB6SURBVBjTbVCxDcAgDHNRP2KDY9gYO5YbWNno1mPY6E3pAJEIYCmCOCQOPogII6wNkug4d49KiXMz1EiUEg8uLBN3Ui7FVduYmxjG3JRru+facubVuIdLEV4Dzwe8V4BYg7t4Ap+d57qUnuWICBzi116v1ggfd3bM+AEZWXFvnym8EwAAAABJRU5ErkJggg==)
       no-repeat right center;
        padding: 8px;
      }
      body{background-color:#FFFFFF;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:62.5%;margin:0;padding:30px;}
      h1{font-size:1.6em;margin-left:0;font-weight:bolder;text-align:left;color:#696969;}
      h1.header{text-align:center;}
      ul{margin-left:0px;}
      a{color:#0000FF;text-decoration:underline;}
      a.visited{color:#551A8B;text-decoration:underline;}
      a:hover{color:#FF9900;text-decoration:underline;}
      a.tocItem{color:#004A95;text-decoration:none;margin-top:2px;font-size:1.4em;}
      .tocItem{text-decoration:none;margin-top:2px;font-size:1.4em;}
      #menu{position:fixed;left:0px;top:10px;width:20%;height:96%;bottom:0px;overflow:auto;background-color:#FFFFFF;color:#000000;border:0px;text-align:left;white-space:nowrap;}
      .hmenu li{list-style-type:none;line-height:200%;padding-left:0;}
      .hmenu ul{padding-left:14px;margin-left:0;}
      .hmenu-bullet{float:left;width:16px;color:#AAAAAA;font-size:1.2em;}
      div.buttons{padding:5px 0 5px 40px;display:inline-block;}
      div.button{padding:5px 0 5px 0;}
      button{width:100%;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-box-shadow:3px 3px 2px #888;-moz-box-shadow:3px 3px 2px #888;box-shadow:3px 3px 2px #888;padding:4px 16px;display:block;cursor:pointer;}
      #main{position:absolute;left:22%;top:0px;overflow:auto;background-color:#FFFFFF;color:#000000;float:none !important;}
      ul.codelist{padding:1px;margin:1px;}
      .codelist li{list-style-type:none;line-height:200%;padding-left:0;text-indent:-4px;}
      .codelist-caption{font-size:1.4em;margin-top:20px;margin-bottom:10px;margin-left:0;font-weight:bolder;text-align:left;color:#696969;}
      .codelist-item{list-style-type:disk;list-style-position:inside;padding:0;margin:0;}
      .codelist-item-decode{white-space:pre-wrap;word-wrap:break-word;}
      #main .docinfo{width:95%;text-align:right;padding:0px 5px;}
      div.containerbox{padding:0px;margin:10px auto;border:0px;page-break-after:always;}
      .study-name{font-size:1.6em;font-weight:bold;text-align:left;padding:15px;margin-left:20px;margin-top:40px;margin-right:20px;margin-bottom:20px;color:#696969;border:0px;}
      div.study-metadata{font-size:1.6em;font-weight:bold;text-align:left;padding:0px;margin:0;color:#696969;border:0px;}
      dl.study-metadata{width:95%;padding:5px 0px;font-size:0.8em;color:black;}
      dl.study-metadata dt{clear:left;float:left;width:200px;margin:0;padding:5px 5px 5px 0px;font-weight:bold;}
      dl.study-metadata dd{margin-left:210px;padding:5px;font-weight:normal;min-height:20px;}
      div.codelist{page-break-after:avoid;}
      table{width:95%;border-spacing:4px;border:1px solid #000000;background-color:#EEEEEE;margin-top:5px;border-collapse:collapse;padding:5px;empty-cells:show;}
      table caption{border:0px;font-size:1.4em;font-weight:bolder;color:#696969;margin:10px auto;text-align:left;}
      .description{margin-left:0px;color:black;font-weight:normal;font-size:0.85em;}
      table caption .dataset{font-weight:normal;float:right;}
      table caption.header{font-size:1.6em;margin-left:0;font-weight:bolder;text-align:center;color:#696969;}
      table tr{border:1px solid #000000;}
      table tr.header{background-color:#6699CC;color:#FFFFFF;font-weight:bold;}
      table th{font-weight:bold;vertical-align:top;text-align:left;padding:5px;border:1px solid #000000;font-size:1.3em;}
      table th.length{width:7%;}
      table th.label{width:13%;}
      table td{vertical-align:top;padding:5px;border:1px solid #000000;font-size:1.2em;line-height:150%;}
      table td.datatype{text-align:left;}
      table td.number{text-align:right;}
      tr.tablerowodd{background-color:#FFFFFF;}
      tr.tableroweven{background-color:#EEEEEE;}
      .linebreakcell{vertical-align:top;margin-top:3px;margin-bottom:3px;}
      .nci,.extended{font-style:italic;}
      .method-code{vertical-align:top;white-space:pre-wrap;word-wrap:break-word;}
      .linktop{font-size:1.2em;margin-top:5px;}
      .documentinfo,.stylesheetinfo{font-size:1.1em;line-height:60%;}
      .invisible{display:none;}
      .standard-refeference{width:95%;font-size:1.0em;font-weight:bold;padding:5px;color:#696969;white-space:nowrap;}
      .nodata{width:95%;font-size:1.0em;font-weight:bold;padding:5px;color:#000000;white-space:nowrap;}
      .arm-summary{width:95%;border:1px solid #000000;background-color:#EEEEEE;font-size:1.2em;line-height:150%;vertical-align:top;}
      tr.arm-analysisresult{background-color:#6699CC;color:#FFFFFF;font-weight:bold;border:1px solid #000000;}
      td.arm-label{font-weight:bold;}
      @media print{
        @page{margin:1.5cm;}
        body,h1,table caption,table caption.header{color:#000;background:#fff;float:none !important;}
        div.containerbox{padding:0px;border:0px;page-break-after:always;}
        a:link,a:visited{background:transparent;text-decoration:none;color:black;}
        .external-link-gif,.valuelist-reference{display:none !important;width:0px;}
        table{border-width:2px;}
        #menu,.linktop{display:none !important;width:0px;}
        #main{left:2cm;float:none !important;}
      }
